<td>
    <div id="password">
        poes
    </div>
    <table>
        <tr>
        <tr>
            <h2>data from {server}</h2>
        </tr>
        <td>
            <iframe id="biframe{frame_nr}" height=1000 width=760 src="/frame?i={frame_nr}" allowTransparency="true" background="transparent"></iframe>
        </td>
        </tr>
    </table>
</td>